.testmain{
    display: block;
    text-align: center;
    align-items: center;
    margin-top: 120px;
}

.testmid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40vh;
}

#arrowll,#arrowrr{
    margin-top: 40px;
}

#th3{
    color: #0CA4C0;
    font-style: italic;
}

#ep{
    margin-top: -15px;
}

#balls{
    margin-top: 20px;
}

#stars{
    margin-top: 40px;
}