.osmain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20vh;
    margin-top: 120px;
}

.oscol{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
}

#endp{
    margin-top: 50px;
}

#osp:hover{
    cursor: pointer;
    font-weight: 500;
}